.button {
  display: inline-block;
  padding: .5em 1em .5em 1em;
  line-height: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.button:hover {
  color: white;
  background-color: orange;
  transition: background-color 0.3s linear;
}
