.inlineGroup {
  padding: .1em .5em 0.7em .5em;
}

.inlineGroup::after {
  content: 'ffff';
  position: absolute;
  height: 5px;
  right: 0;
  bottom: 0;
  left:0;
  background-color: #E9E9E9;
  border: 1px solid black;
}

.inlineGroup > div {
  display: inline-block;
  margin-top: .5em;
  margin-left: .5em;
}
