.list {
  border-collapse:collapse;
  width: 100%;
}

.list thead {
  color: rgb(158, 158, 158);
}

.list tr {
  border-bottom: 1px solid rgb(158, 158, 158);
}

.list th {
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}

.list td {
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: lighter;
}

.list>tbody>tr:hover {
  background-color: orange;
  transition: background-color .5s linear;
}
