.list {
  font-size: .75rem;
  font-weight: lighter;
  border-collapse:collapse;
  width: 100%;
}

.list thead {
  color: rgb(158, 158, 158);
}

.list th, .list td {
  text-align: center;
  border-bottom: 1px solid #E1E1E1;
  padding: 1.5em 1.2em 1.2em 2em;
  font-weight: lighter;
}

.list>tbody>tr:hover {
  background-color: orange;
  transition: background-color .5s linear;
}
