.radioButton {
  display: inline-block;
  padding: .2em 1em .2em 1em;
  box-shadow: .15em .15em .3em gray;
  line-height: 1.5em;
  cursor: pointer;
}

.active {
  color: white;
  background-color: orange;
}
