.resultField {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  min-height: 0;
  height: 100%;
}

.resultField .armorSetList {
  width: 100%;
  min-height: 0;
  overflow: auto;
  max-height: 100%;
}
