.resultField {
  font-size: .5rem;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
}

.resultField .armorSetList {
  width: 70%;
  max-height: 100%;
  overflow: auto;
}

.resultField .armorSetDetail {
  width: 28%;
  max-height: 100%;
  overflow: auto;
}
