.skillLabel {
  display: inline-block;
  padding: .5em .5em .5em 1em;
  box-shadow: .01em .01em .01em gray;
}

.skillLabel .skillName {
  display: inline-block;
  line-height: 1.5em;
  margin-right: 1.5em;
}
